.L_nvn_concent{
    
    position: absolute;
    width: 304px;
    height: 435px;
    left: 0;
    top: 50px;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    padding: 3px 0;
    
}


.L_list_node{

    display: inline-block;
    border-bottom: 1px solid #666;
    height: 83px;
    overflow: hidden;
    padding:2px 12px;
    margin-top: -4px;

}
.L_list_node .list-one,.list-two{
    
    display: inline-block;
    height: 20px;
    line-height: 17px;

}
.L_list_node .list-one{
    font-size: 14px; 
    margin-top: 18px;
    color: #fff;
}
.L_list_node>.list-two{
    margin-top:-10px;
    font-size: 12px;

}
.list-one>a{
    color: #fff;
    display: inline-block
}
.list-two>a{
    color: #dedede;
    display: inline-block
}

.L_list_node>.x12{
    font-size: 12px;
    float: left;
}
.list-one>i{
    display: inline-block;
    width: 2px;
    height: 11px;
    margin: 5px 5px;
    background-color: #484a44;
    vertical-align: middle;
}
.list-two>i{
    display: inline-block;
    width: 2px;
    height: 11px;
    margin: 5px 5px;
    background-color: #484a44;
    vertical-align: middle;
}






/* 主体内容 */
.L_listContent{
    display: none;
    position: absolute;
    z-index: 1;
    width: 840px;
    height: 400px;
    background: #f7f9fa;
    left: 304px;
    top: 0;
    overflow: hidden;
    
}

/* 左侧 */
.L_contentLeft{
    float: left;
    width: 374px;
    margin: 25px 25px;
}
.L_contentLeft-box{
    width: 374px;
    margin-bottom: 30px;
  
}
.L_contentLeft-title{
    height: 14px;
    width: 374px;

}
.L_contentLeft-title>a{
    font-size: 14px;
    color: #2769dc;
}
.L_contentLeft-maxBox{
    height: 14px;
    width: 374px;
    margin: 15px 0;
} 
.L_contentLeft-maxBox>a{
    font-size: 13px;
    color: #595959
}
.L_contentLeft-maxBox>a:hover{
    color: #2769dc
}
.L_contentLeft-maxBox>i{
    width: 1px;
    height: 10px;
    display: inline-block;
    margin: 0 5px;
    background-color: #484a44;
    vertical-align: middle;
}



/* 右侧 */
.L_contentRight{
    display: inline-block;
    width: 374px;
    
    /* border: 1px solid red; */
    margin-top: 25px ;

}
.L_nvn_content_right_title{
    width: 374px;
    height: 30px;
    line-height: 20px;
    margin-top: 10px ;
    font-size: 14px;
    color: #262626;
    margin-bottom:10px; 
    border-bottom: 1px solid #dedede;
}

.L_nvn_content_right_text{

    margin: 5px 0;
    
}
.icon_word{
    background: url(http://img-i.gcimg.net/2018/0913/zj8yk3wvafq7mwgv032203.png) 0 center no-repeat;
    vertical-align: middle;
    
}
.L_nvn_content_right_text>a{
    color: #262626;
    font-size: 14px;

    margin-left: 25px;
}

.L_nvn_content_right_text>a:hover{
    color: #2769dc
}

/* 第二内容 */
.L_contentRight_box1>a{
    font-size: 14px;
    color: #2769dc;
}
.L_contentRight_box2>a{
    font-size: 14px;
    color: #262626;
}
.L_contentRight_box1{
    margin-bottom: 10px;
}
.L_contentRight_box2>i{
    display: inline-block;
    width: 2px;
    height: 11px;
    margin: 5px 5px;
    background-color: #484a44;
    vertical-align: middle;
}
.L_contentRight_box2{
    margin-bottom: 15px;
}


.L_nvn_content_right_icon{
    margin-top: 20px;
}

/* 第4块 */
.L_contentLeft-box2{
    margin-bottom: 60px;
}

.L_contentright_top{
    margin-top: 30px;
}



.L_list_node:hover .L_listContent{
    display: block;
}
.L_list_node:hover{
    background: #f7f9fa;
    
}
.L_list_node:hover .list-one>a{
    color: #262626
    
}
.L_list_node:hover .list-two>a{
    color: #666
    
}



/* 登录框 */
.L_login{
    position: absolute;
    width: 240px;
    height: 360px;
    background: #ffffff;
    left: 960px;
    top: 35px;
    border-radius: 10px;
}

/* 登录  1栏 */
.L_enter{
    width: 240px;
    height: 86px;
    /* border: 1px solid red; */
    overflow: hidden;
}
.L_enter>img{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
.L_enter_text{
    float: left;
    width: 100px;
    height: 23px;
    border:1px solid #2769dc;
    margin-left: 12px;
    border-radius: 3px;
    margin-top: 33px;
}
.L_enter_a1{

    padding: 2px 10px;
    background: #2769dc;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
}
.L_enter_a2{
    margin-left: 6px;
    font-size: 14px;
    color: #2769dc;
}

/* 签到 2栏 */
.L_sign{
    width: 240px;
    height: 100px;
    background: #f7f9fa;
    overflow: hidden;
}
.L_sign_box{
    /* border: 1px solid red; */
    width: 52px;
    margin-left: 20px;
    padding-top: 52px;
    float: left;
    font-size: 12px;
    text-align: center;
    color: #262626;
    background: url(../images/images/WT6@8Y9~ZT\(NWX4O~PCXVFE_03.png) no-repeat center top;
}

.L_sign_box>p{
    display: inline-block;
}
.L-primary{
    color: #2769dc;
}

/* 通知 */
.L_inform{
    margin-top: 16px;
}
.L_inform>li{
    padding-left: 45px;
    padding-right: 20px;
    line-height: 28px;
    background: url(../images/images/WT6@8Y9~ZT\(NWX4O~PCXVFE_07.png) no-repeat 20px center;
    color: #595959;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.L_inform>li>a:hover {
    color: #2769dc;
}



/* 智能选课 */
#L_view2{
    background: #f7f9fa;
    height: 406px;
    width: 100%;
    overflow: hidden;
}

.L_litle{
    /* border: 1px solid red; */
    width: 1200px;
    height: 45px;
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
    line-height: 45px;
    margin-top: 90px;
    font-weight: 500;
}
.L_subhead{
    font-size: 20px;
    font-weight: 600;
    color: #e0e6ed;
    text-align: center;
}
.L_describe{
    width: 1200px;
    height: 235px;
    /* border: 1px solid red; */
    margin: 0 auto;
    overflow: hidden;
}

.L_describe_left{
    float: left;
    width: 500px;
    height: 116px;
    /* border: 1px solid green; */
    margin-top: 60px;
    overflow: hidden;
}
.L_describe_left>div{
    float: left;
}
.L_describe_left_box{
    float: left;
    width: 300px;
    /* border: 1px solid green; */
    margin-left: 40px;
}
.L_describe_left_box>li{
    float: left;

    margin: 0  0px 40px;
}
.L_describe_left_text{
  
    /* border: 1px solid green; */
    height: 20px;
    font-size: 16px;
}
.L_describe_left_text>i{
    width: 1px;
    height: 18px;
    display: inline-block;
    margin: 0 20px;
    background-color: #484a44;
    vertical-align: middle;
}


.L_describe_right{
    float: left;
    width: 640px;
    height: 116px;
    /* border: 1px solid green; */
    margin-top: 60px;
    margin-left: 47px;
    overflow: hidden;
}
.L_describe_right_box{
    float: left;
    width: 475px;
    /* border: 1px solid green; */
    margin-left: 40px;
}
.L_describe_right>div{
    float: left;
}
.L_describe_right_box>li{
    float: left;
    margin: 0  0px 40px;
}
.L_describe_left_text>a:hover {
    color: #2769dc
}




/* 精品课程 */
.L_courses{
    height: 780px;
    width: 100%;
    background: #fff;
    border: 1px solid #fff;
}

/* 课程内容 */
.L_courses_content{
    width: 1200px;
    position: relative;
    margin: 30px  auto  0;
    overflow: hidden;
   
}
.L_courses_left{
    width: 490px;
    float: left;
    height: 708px;

}
.L_courses_text{
    margin-top: 10px;
}
.text1,.text2{
    display: block;
    padding-left: 18px;
    margin-right: 12px;
    float: left;
    position: relative;
    font-size: 12px;
    color: #a59999;
}

.text1{
    background: url(../images/images/L8SCLT5WF0PS09_07.png) no-repeat 0 center
}
.text2{

    background: url(../images/images/L8SCLT5WF0PS09_03.png) no-repeat 0 center
}
.L_courses_left_a:hover{
    color: #2769dc;
}
.L_courses_a2{
    float: left;
    font-size: 14px;
    color: #2769dc;
}
.L_courses_left_a2{
    margin-left: 290px;
}
/* 右大块 */
.L_courses_right{
    float: left;
    width: 708px;
    height: 466px;
    overflow: hidden;
}
.L_courses_box{
    width: 200px;
    height: 220px;
    float: left;
    margin-left: 22px;
}
.L_courses_right_icon>img{
    width: 200px;
}
.L_courses_right_a:hover{
    color: #2769dc
}
/* 查看更多 */
.L_more{
    position: absolute;
    left: 527px;
    top: 490px;
    width: 168px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    font-size: 17px;
    background: #2769dc;
    border-radius: 5px;
}













/* 最新发布 */
.L_new{
    background: #f7f9fa;
    /* overflow: hidden; */
}






.L_new_icon{
    position: relative;
    width: 1200px;
    height: 215px;
    margin: 0 auto;
    margin-top: 20px;
}
.L_hide-icon{
    overflow: hidden;
    width: 1200px;
    height: 215px;
    position: relative;
}
.L_new_cut{
    display: inline-block;
    position: absolute;
    height: 215px;
    /* margin-left: 1200px; */
    border: 1px solid red;
    overflow: hidden;
}
.L_new_cut-box{
    float: left;
}
.L_new_cut0{
    float: left;
    height: 214px;
    width: 390px;
    background: url(../images/new/6db5turl6gqqylr9002359.jpg) no-repeat;
    margin-right: 15px;
    /* overflow: hidden; */
}
.L_new_cut3{
    margin-right: 0px;
}










.L_new_icon-left-direction{
    position: absolute;
    width: 42px;
    height: 42px;
    top: 103px;
    left: -75px;
    background:url(../images/X_YV@_03.png)
}
.L_new_icon-right-direction{
    position: absolute;
    width: 42px;
    height: 42px;
    top: 103px;
    left: 1235px;
    background: url(../images/WD4_2BD_05.png) no-repeat
}










.new-box-text1{
    font-size: 20px;
    margin-left: 25px;
    margin-top: 30px;
    color: #f1f4f7;
}
.new-box-text2{
    font-size: 25px;
    margin-left: 25px;
    margin-top: 30px;
    color: #f1f4f7
}
.new-box-text2:hover{
    color: #2769dc
}
.new-box-text3{
    font-size: 14px;
    margin-left: 25px;
    margin-top: 30px;
    color: #f1f4f7
}


















/* 条幅 */
#L_icon{
    width: 1200px;
    margin: 40px auto ; 
}


/* 专区 */
.L_pertain{
    width: 1200px;
    margin: 0 auto;
}
.L_pertain_left{
    width: 330px;
    height: 370px;
    background: #fff;
}
.L_paretain_title{
    width: 330px;
    display: inline-block;
}
.L_paretain_title>span{
    font-size: 18px;
}
.L_paretain_title>a{
    color: #2769dc;
    font-size: 14px;
    margin-left: 196px;
}
.L_pertain_left>hr{
    width: 330px;
    height: 1px;
    background:#dedede;
    margin: 10px 0 ;
    
}

/* 专区 左列表 */
.L_pertain{
    overflow: hidden;
}
.L_pertain_left{
    padding: 4px 20px;
    float: left;
}
.L_paretain_list{
    width: 330px;
    height: 390px;
    position: relative;

    
}

.L_pertain_left>.hr1{
    border-bottom: 1px solid #dedede;
    margin:20px 0;
    
}
.L_paretain_list>li{
    padding :10px 0;
    overflow: hidden;
    border-radius: 8px;
}
.L_paretain_title{
    margin-top: 20px;
}
.L_paretain_list>li>a{
    color: #262626;
    float: left;
    font-size: 16px;
    padding-left: 30px;
    background: url(../images/zj8yk3wvafq7mwgv032203.jpg) no-repeat 0 center
}
.L_paretain_list>li>span{
    float: right;
    margin-right: 7px;
    font-size: 12px;
    color: #999;
}
.L_paretain_list>li:hover{
    background: url(../images/I8$7T%~9_03.gif) no-repeat 310px center;
    background-color: #f1f4f7;
}
.L_paretain_list-li:hover  .L_paretain_list-li-a{
    color: #2769dc
}



/* 视频专区右侧 */
.L_pertain_right{
    float: right;
    width: 760px;
    /* height: 350px; */
    background: #fff;
    padding: 25px 15px 0;
}


.L_pertain_right_title>span{
    font-size: 18px;
}
.L_pertain_right_title>a{
    color: #2769dc;
    font-size: 14px;
    margin-left: 620px;
}
.L_pertain_right_title-hr1{
    margin: 20px 0;
    height: 1px;
    width: 756px;
    border-bottom: 1px solid #dedede;
}
.L_pertain_right_box{
    width: 750px;
    height: 120px;
    /* border: 1px solid red; */
    overflow: hidden;
}
.L_pertain_right-vide{
    position: relative;
    overflow: hidden;
    float: left;
}
.L_pertain_right-ico{
    width: 206px;
    height: 116px;
}
.L_pertain_right-ico1{
    position: absolute;
    left: 77px;
    top: 40px;
}

/* 列表  */
.L_pertain_right-list{
    float: left;
    width: 520px;
    height: 100px;
    /* border: 1px solid red; */
}
.L_pertain_right-list-li{
    padding : 7px 0;
    margin-left: 20px;
    overflow: hidden;
}
.L_pertain_right-list-li>span{
    float: right;
    margin-right: 7px;
    font-size: 12px;
    color: #999;
}
.L_pertain_right-list-li:hover{
    background: url(../images/I8$7T%~9_03.gif) no-repeat 480px center;
    background-color: #f1f4f7;
    border-radius: 7px;
}
.L_pertain_right-list-li:hover .L_paretain_list-li-a{
    color: #2769dc;
}
.L_pertain_right_box1{
    margin-bottom: 46px;
}


/* 深度解析 */
.L_uncoil{
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
}


/* 企业分析报告 */
.L_report{
    width: 1200px;
    height: 434px;
    background: #fff;
    overflow: hidden;
    margin: 30px  auto  0;
}
.L_report_left{
    width: 320px;
    height: 434px;
    /* background: #fff; */
    /* overflow: hidden; */
    float: left;
    background: url(../images/kshuwgoymsxbe8lz055218.png) no-repeat 
}
.L_report_left>h1{
   
    font-size: 32px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    margin-top: 40px;
}
.L_report_left>h2{
    font-size: 17px;
    color: #e8edf2;
    text-align: center;
    opacity: .5;
    margin-top: 30px;
}
.L_report_left>p{
    width: 224px;
    font-size: 13px;
    color: #fff;
    line-height: 1.85;
    opacity: .8;
    margin: 0 auto;
    margin-top: 45px;
}
.L_report_left>div{
    display: inline-block;
    width: 224px;
    font-size: 12px;
    line-height: 16px;
    margin-left: 48px;
    margin-top: 76px;
    background: url(../images/e3uu2hcyhc0m0weg060124.png) no-repeat 80px center;
}
.L_report_left>div>a{
    color: #fff
}


/* 报告右 */
.L_report_right{
    float: right;
    width: 876px;
    height: 434px;
}
.L_report_right-title{
    width: 840px;
    height: 54px;
    padding-left:20px; 
    
}
.L_report_right-title>a{
    /* float: left; */
    font-size: 14px;
    line-height: 54px;
    margin-right: 20px; 
}
.L_report_right-title-a{
    padding-right: 18px;
    float: right;
    font-size: 12px;
    line-height: 52px;
    color: #2769dc;
    background: url(../images/peo47y85t8rgljb6061804.png) no-repeat right center;
}
.L_report_right-title>a:hover{
    color: #2769dc
}

.L_report_right-line{
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #dedede;
}

/* 内容 */
.L_report_right-content{
    width: 800px;
    overflow: hidden;
}
.L_report_right-content-left-text>a>p:hover{
    color: #2769dc;
}
.L_report_right-content-left1{
    width: 410px;
    border-right: 1px solid #dedede;
    overflow: hidden;
    float: left;
}
.L_report_right-content-left{
    width: 410px;
    height: 150px;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 30px ;
}
.L_report_right-content-ico{
    float: left;
    width: 206px;
    height: 130px;
    background: url(../images/new/8u0lmnxhyvcxtq5v002928.jpg) no-repeat;
    background-size:206px  130px;
    border-radius: 5px;
}
.L_report_right-content-ico>a{
    display: inline-block;
    width: 166px;
    height: 60px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: .2px;
    color: #fff;
    font-weight: 500;
    margin-left:20px;
    margin-top:35px;
}
.L_report_right-content-left-text{
    width: 154px;
    height: 115px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
.L_report_right-content-left-text>div{
   margin-top: 49px;
   background: url(../images/zj8yk3wvafq7mwgv032203.jpg) no-repeat 94px center;
}
.L_report_right-content-left-text-a{
    height: 19px;
    padding: 0 8px;
    margin-right: 20px;
    line-height: 19px;
    font-size: 12px;
    background-color: #edeeef;
    border-radius: 100px;
}
.L_report_right-content-left-text-a1{
    height: 19px;
    float: right;
    margin-right: 12px;
    line-height: 19px;
    font-size: 12px;
    color: #2769dc;
}
.L_report_right-content-left-line1{
    width: 100%;
    border-bottom: 1px solid #dedede;
    height:  1px;
    margin: 10px 0;
}
.L_report_right-content-right{
    float: right;
    width: 350px;
    height: 400px;
    margin-top: 15px;
}


/* 条幅 */

.L_line2{
    width: 1200px;
    margin: 0 auto;
    margin-top: 35px;
}

/* 企业总部 */
#L_report_right-content-right{
    margin-top: -15px;
    margin-left: -38px;
}
.L_line3{
    margin-bottom: 30px;
}